.product-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #151414;
    flex-direction: row;
    color: aliceblue;
    font-size: 1rem;
    flex: 1;
}

.product-item .item-desc{
    color: aliceblue;
    font-size: 1rem;
    flex: 1;
}

.product-desc-title {
    font-weight: bold;
}

.product-image {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.product-desc {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    height: 160px;
    width: 200px;
}